*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #fff;
    margin: auto;
    padding: 0;
    min-width: 290px;
}

html {
    scroll-behavior: smooth;
}