.card {
    display: flex;
    align-items: center;
    width: 32%;
    height: auto;
    padding: 3px;
    background-color: black;
    border-radius: 2px;

    img {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        object-fit: cover;
    }
}

.main--projet {
    padding: 25px;
    row-gap: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}